:root {
  --ifm-color-primary: #c084fc;   /* Lila brillante */
  --ifm-color-primary-dark: #a855f7;
  --ifm-color-primary-darker: #9333ea;
  --ifm-color-primary-light: #d8b4fe;
  --ifm-color-primary-lighter: #ede9fe;

  --ifm-background-color: #fff0f6; /* Rosa muy suave de fondo */
}

html[data-theme='light'] {
  --ifm-background-color: #fff0f6;
}

.navbar,
.footer {
  background-color: #f3e8ff; /* Fondo lila claro para navbar y pie de página */
}
